@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
    font: normal 16px 'Roboto', sans-serif;
    color: rgb(39, 33, 33);
    background: #eee;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

h4, h2 {
    margin: 0 0 15px;    
}

a{
    text-decoration: none; 
    color: inherit;   
}



.info {
    display: flex;
    margin-bottom: 20px;
}

.info .avatar {
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
}

.info-info {
    margin-left: 20px;
}


.info-text {
    margin-bottom: 20px;
}

.info-text p {
    font-style: italic;
    color: #86898e;
    font-weight: bold;
    margin: 0;
}

.info-list ul {
    padding: 0;
}


.info-list ul li{
    list-style: none;
    display: inline;
}

.info-list ul li a:hover{
    text-decoration: underline;    
}



@media (max-width: 600px) {
    .info {
        display: inline-block;
        margin-bottom: 20px;
        text-align: center;
    }
    h1 {
        margin: 10px 0;
    }
}
    
.bg-green {
    background: lightgreen;    
}

.bg-red {
    background: lightcoral;
}

.bg-yellow {
    background: lightyellow;
}

.card {
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    
}

.card .list {
    padding-left: 20px;   
}    
.card .list li{
        margin-bottom: 10px;
        color: #86898e;
}
.card .list li:last-child{
        margin-bottom: 0px;
}

.table{
    width: 100%;
}

.table td {
    padding: 0 10px 10px 0;    
}

.table td:last-child{
    padding-right: 0;
}

.table td:nth-child(2), 
.table td:nth-child(3) {
    color: #86898e;
}


ul.link-list {
    margin-bottom: 20px;    
    padding-left: 0;
    }

ul.link-list li {
    list-style: none;  
    border-bottom: 1px solid gray ; 
    color: rgb(39, 33, 33);
    margin-bottom: 10px;
    padding-bottom: 5px;
   
}

ul.link-list li a:hover {
    text-decoration: underline;    
}

.form h2{
    text-align: center;
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}

.form-row .form-group {
    width: 50%;
    margin-right: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898e;
}


.form-group input,.form-group textarea {
    border-style: none;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color:black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 600px) {
    .form-row {
        display: block;    
    }
    .form-row .form-group {
        width: 100%;
        margin-bottom:10px ;
    }
}



.btn button{
    color: white;
    background: rgb(39, 33, 33);
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
}

.btn button:hover{
    background: rgb(53, 27, 27);  
}








